# Part B Requirments

In [3]:
# B. Normalize the data (5 marks) 

# Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

# How does the mean of the mean squared errors compare to that from Step A?

## Libraries and Dataset preparation

In [6]:
# import pandans and numpy libraries

import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning )

In [8]:
# import the data source file

concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [10]:
concrete_data.shape

(1030, 9)

In [12]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [14]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into Predictors and Target

In [17]:
concrete_data_columns =  concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] #all columns except strength
target = concrete_data['Strength'] # strength column

In [19]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [21]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [23]:
# normalize the data by substracting the mean and dividing by the standard deviation
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [25]:
n_cols = predictors_norm.shape[1]
n_cols

8

## Import Keras

In [28]:
# import Keras Packages
import keras

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [30]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Import the scikit_learn in order to randomly split the data into a training and test sets

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and test the network

In [38]:
# build the mode
model = regression_model()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [40]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - loss: 11061.8154
Epoch 2/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - loss: 4198.1626
Epoch 3/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 3312.6077
Epoch 4/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 2652.0364
Epoch 5/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - loss: 2070.6628
Epoch 6/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 1753.0300
Epoch 7/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - loss: 1479.6682
Epoch 8/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - loss: 1407.9229
Epoch 9/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - loss: 1202.5281
Epoch 10/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - loss: 1114.5872
Epoch 11/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - loss: 991.7778
Epoch 12/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - loss: 932.2217
Epoch 13/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 877.2158
Epoch 14/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - loss: 829.7837
Epoch 15/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - loss: 765.7820
Epoch 16/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - loss: 699.4151
Epoch 17/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 724.9079
Epoch 18/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - loss: 645.6962
Epoch 19/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - loss: 666.7111
Epoch 20/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - loss: 625.9884
Epoch 21/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - loss: 561.0034
Epoch 22/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - loss: 541.7901
Epoch 23/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 513.8918
Epoch 24/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - loss: 479.0258
Epoch 25/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - loss: 444.8459
Epoch 26/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - loss: 419.0179
Epoch 27/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - loss: 430.9516
Epoch 28/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 399.2644
Epoch 29/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - loss: 394.3891
Epoch 30/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - loss: 369.9290
Epoch 31/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - loss: 341.7869
Epoch 32/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 317.6191
Epoch 33/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - loss: 284.1394
Epoch 34/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - loss: 323.9116
Epoch 35/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - loss: 317.1958
Epoch 36/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 277.7949
Epoch 37/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - loss: 284.1768
Epoch 38/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - loss: 275.5629
Epoch 39/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 259.1486
Epoch 40/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 254.8966
Epoch 41/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - loss: 251.7848
Epoch 42/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - loss: 252.2243
Epoch 43/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 224.2483
Epoch 44/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - loss: 221.8522
Epoch 45/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - loss: 234.1139
Epoch 46/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - loss: 206.3151
Epoch 47/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 201.3763
Epoch 48/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - loss: 212.5139
Epoch 49/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - loss: 200.5156
Epoch 50/50
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 189.5288

## Evaluate the mode on test data

In [43]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 191.9682
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

198.95339965820312

## Compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [46]:
# import the mean_squared_error function from Scikit-learn
from sklearn.metrics import mean_squared_error

In [48]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

198.95340230893578 0.0

In [50]:
# create a list of 50 mean squared errors and repeat mean and the stardard deviation of the mean squared errors

total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 119.9494857788086
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step
MSE 2: 115.6742172241211
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step
MSE 3: 111.07377624511719
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step
MSE 4: 120.52857971191406
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step
MSE 5: 117.3296890258789
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step
MSE 6: 137.6692657470703
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step
MSE 7: 122.05447387695312
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step
MSE 8: 130.60047912597656
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step
MSE 9: 121.03742980957031
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step
MSE 10: 89.8509521484375
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step
MSE 11: 83.21394348144531
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step
MSE 12: 65.76456451416016
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step
MSE 13: 74.01568603515625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step
MSE 14: 80.84766387939453
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step
MSE 15: 69.19209289550781
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step
MSE 16: 59.59931945800781
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step
MSE 17: 62.22191619873047
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step
MSE 18: 54.11042404174805
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step
MSE 19: 49.423683166503906
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step
MSE 20: 56.3549690246582
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step
MSE 21: 48.29655075073242
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step
MSE 22: 55.82844161987305
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step
MSE 23: 46.484737396240234
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step
MSE 24: 46.7310905456543
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step
MSE 25: 70.8776626586914
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step
MSE 26: 49.29347229003906
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step
MSE 27: 51.11091232299805
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step
MSE 28: 45.47633743286133
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step
MSE 29: 52.42951202392578
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step
MSE 30: 51.451988220214844
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step
MSE 31: 52.90187454223633
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step
MSE 32: 44.31414794921875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step
MSE 33: 52.48820877075195
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step
MSE 34: 50.667884826660156
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step
MSE 35: 46.92555236816406
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step
MSE 36: 53.80720138549805
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step
MSE 37: 52.47113800048828
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step
MSE 38: 54.73793411254883
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step
MSE 39: 56.18508529663086
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step
MSE 40: 44.260372161865234
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step
MSE 41: 54.934471130371094
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step
MSE 42: 45.98836135864258
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step
MSE 43: 48.08556365966797
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step
MSE 44: 53.482181549072266
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step
MSE 45: 55.748313903808594
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step
MSE 46: 55.78947448730469
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step
MSE 47: 50.74226760864258
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step
MSE 48: 52.46394348144531
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step
MSE 49: 51.70130920410156
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step
MSE 50: 54.99955749511719
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 67.82376219002006
Standard Deviation: 27.191822555117763

## Comapring to Part A

### Lower Mean MSE:
### After normalization (Step B), the mean MSE dropped from 114.83 to 67.82, indicating a significant improvement in the model's accuracy. Normalization likely reduced the influence of predictors with larger ranges or units on the model's behavior.

### Higher Standard Deviation:
### The standard deviation of the MSE increased after normalization (11.4962 → 27.19), suggesting that the model's performance may be more variable across different data splits or folds.